.item-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.item-form {
    width: 100%;
    width: 100%;
    margin: 0 20%;
}
@media(max-width: 1200px){
    .item-form {
        margin: 0 10%;
    }
}
@media(max-width: 756px){
    .item-form {
        margin: 0;
    }
}
.item-form label {
    font-size: 24px;
}
.item__form-element {
    appearance: none;
    display: block;
    width: 100%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 18px;
}