.restaurant-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
@media(max-width: 976px){
    .restaurant-container {
        flex-direction: column-reverse;
        align-items: center;
    }
}
.restaurant-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}