.restaurantView {
  display: flex;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  padding: 15px;
  font-size: 16px;
  width: 70%;
  border-right: 2px solid lightgrey;
  border-top: 2px solid lightgrey;
  background-color: rgb(79, 60, 60);
}

.menu.item img {
  width: 100%;
  margin-bottom: 5px;
}
.title {
  font-size:16px;
  font: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.description {
  font-size:14px;
  font: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.restaurantInfo {
    width: 30%;
    background-color: rgb(120, 125, 181);
    margin-left: auto;
    margin-right: auto;
}

.restaurantItem img {
    width: 100%;
    margin-bottom: 5px;
  }
  .title {
    font-size:16px;
    font: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }
  .address {
    font-size:14px;
    font: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
 }
  .price {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
