.itemContainer {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left: 160px;
	margin-top: 20px;
    gap: 20px;
}

.mainContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}