.historyContainer {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  align-items: baseline;
  justify-content: space-around;
}
.orderHistoryContainer {
  position: static;
}

.restaurantContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}