.navBar {
    display: flex;
    background-color: rgba(28, 233, 248, 0.466);
    color: #fff;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
}
.navBarItem {
    margin-left: 15px;
    margin-right: 15px;
    color: rgb(0, 0, 0);
    font: Helvetica, arial, sans-serif;
    font-weight: normal;
    text-align: center;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}