/* Navigation bar */
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 6vh;
    border-bottom: 1px solid black;
}
.navbar__title-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 40px;
}
.navbar__title-container a {
    font-size: 36px;
}
.navbar__login-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 0 40px;
}
/* / Navigation bar */